/Library
/Logs
/obj
/Temp
/*.sln
/*.csproj
/*.DS_Store
/*_.DS_Store
/*.vsconfig
/.vs
/Assets/Scenes
/Assets/Common/EIF/*.eif
/Assets/Common/EIF
.idea/
Assets/zoomgame/Art/fused_chengduindoor.ply
Assets/zoomgame/Art/fused.ply
Assets/zoomgame/Art/fused.ply.meta
Assets/zoomgame/Art/fused_5L.ply
Assets/zoomgame/Art/fused_5L.ply.meta
